# Python artifacts
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/

# Streamlit
.streamlit/

# Environment variables
.env
*.env

# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp
*~
